  img{
    width: 150px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
    border-radius: 50%; /* This makes the image circular */
    overflow: hidden; /* Ensures any overflow is hidden */
    border: 2px solid #ccc; /* Optional: Add a border */
    object-fit: cover; /* Ensure the image covers the entire container */
    float: left;
    padding: 2px;
 }
 h1, h2{
    color: rgb(161, 165, 42);

 }
 body {
   background-image: url("background.webp");
   color: white;
   background-size:cover;
    
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 .Skills-training-awards{
  position: relative;
  display: inline-block;
  
 }
 footer{
 position:relative;
    
 }
 
